<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CHICKE-CHICKE</title>
</head>
<body>
	<h4 class="text-center mt-3">
		CHICKE-CHICKE
	</h4>
	<h6 class="text-center">
		Sell your item within 24-hours 
	</h6>
	<div class="d-flex justify-content-center">
		<%= image_tag("chicke.png", class: "logo-small", :alt => "chicke logo ") %>	
	</div>
	

</body>
</html>


<style type="text/css">
	.logo-small{
		width:50px;
	}
</style>