<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CHICKE</title>
</head>
<body>

<div class="d-flex justify-content-around">
	<div>
		<% if current_user %>
		<p class="">
		<i class="fa-regular fa-user m-3" style="font-size:30px;"></i>
		</p>
		<% else %>
		<p class="">
		<%= link_to 'LOGIN', new_user_session_path, class: "btn m-2"  %>
		</p>
		<% end %>	
	</div>
	<div>
		<h4 class="d-flex justify-content-center">
		<%= link_to "CHICKE-CHICKE", root_path,style: "color:black; text-decoration: none;", class: "text-center mt-3" %>
		</h4>
		<h6 class="text-center">
			Sell your item within 24-hours 
		</h6>
		<div class="d-flex justify-content-center">
			<%= image_tag("chicke.png", class: "logo-small", :alt => "chicke logo ") %>	
		</div>
	</div>
	<div>
		<% if current_user %>
		<p class="m-3">
		LEVEL: GORILLA
		</p>
		<% else %>
		<p class="">
		<%= link_to 'SIGN UP', new_user_registration_path, class: "btn m-2"  %>
		</p>
		<% end %>	
			
	</div>
</div>

</body>
</html>


<style type="text/css">
	.logo-small{
		width:50px;
	}
</style>